body
{
    font-family: "Calibri Light";
}

#navbar
{
    display: flex;
    justify-content: center;
    background-color: tomato;
    position: sticky;
    top: 0;
    font-size: 130%;
    z-index: 1; /*Gør at navbaren er forrest*/
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 8px 70px;
    text-decoration: none;
}

li a:hover
{
    background-color: #555;
    color: white;
}

.frontpic
{
    text-align: center;
    position: center;
}

.textforpic
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 200%;
    color: tomato;

}