.navbar
{
}

.infopage
{
    background-color:#c7ebd1;
    display: flex;
    margin: 0 233px -1% 233px;
}

.information
{
    width:60%;
    font-size: 150%;
    padding: 5% 0 5% 10px;
}

.infoimg
{
    padding: 12% 5% 5% 0%;
}

h1
{
    font-size: 130%;
}

footer
{
    position: fixed;
    margin: 0 0 0 -1%;
}

