<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/template.css}" href="../static/css/template.css">
    <link rel="stylesheet" th:href="@{../css/info.css}" href="../static/css/info.css">
    <link rel="icon" type="image/png" th:href="@{../css/logo.png}" href="../static/images/logo.png"/>
    <title>Info</title>
</head>
<body>

<div class="navbar">
    <div id="logo">
        <a th:href="@{forside}" href="madspild.html">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="Her er vores logo" style="width:100px; height: 37px;">
        </a>
    </div>

    <ul>
        <li class="chosenbutton"><a th:href="@{info}" href="info.html"><span style = "color: black"><b><u>Info</u></b></span></a></li>
        <li><a th:href="@{tips}" href="tips.html">Tips</a></li>
        <li><a th:href="@{statistik}" href="statistik.html">Statistik</a></li>
    </ul>
    <div id="search">
        <input type="text" placeholder="Søg..">
        <input class="buttonedit" type="button" value="Søg">
    </div>
</div>



<div class="infopage">

    <div class="information">

        <h1>Information om madspild</h1>
        Madspildet i den danske servicesektor udgør 227.000-ton pr. år. <br>
        Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år. <br> <br>
        Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år,<br>
        svarende til 72 % af servicesektorens madspild. <br> <br>
        Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år,<br>
        mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.

    </div>

    <div class="infoimg">
        <img th:src="@{/images/infomad.png}" src="../static/images/infomad.png" alt="Her er vores forsidebillede" style="width:500px;height:auto;">
    </div>
</div>
</body>

<footer>
    <div class="address">
        <address>
            Guldbergsgade 1000000N<br>
            København N<br>
            Danmark
        </address>
    </div>
</footer>
</html>