<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../static/css/frontpage.css}" href="../static/css/frontpage.css">
    <title>Danmark Mod Madspild</title>
</head>
<body>

<div id="navbar">
    <div id="logo">
        <img th:src="@{/images/img_1.png}" src="../static/images/img_1.png" alt="Her er vores logo" style="width:auto; height: 100%;">
    </div>

    <ul>
        <li><a href="info.html">Info</a></li>
        <li><a href="tips.html">Tips</a></li>
        <li><a href="stats.html">Statistik</a></li>
    </ul>

    <div id="search">
        <img th:src="@{/images/img_1.png}" src="../static/images/img_1.png" alt="Her er vores logo" style="width:auto; height: 100%;">
    </div>
</div>

<div class="frontpic">
    <img th:src="@{/images/img.png}" src="../static/images/img.png" alt="Her er vores forsidebillede" style="width:1000px;height:2000px;">
   <div class="textforpic">
    <h1>
        Danmark Mod Madspild
    </h1>
   </div>
</div>

</body>
</html>