<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../css/frontpage.css}" href="../static/css/frontpage.css">
    <link rel="stylesheet" th:href="@{../css/template.css}" href="../static/css/template.css">
    <link rel="icon" type="image/png" th:href="@{../css/logo.png}" href="../static/images/logo.png"/>
    <title>Danmark Mod Madspild</title>
</head>
<body>

<div class="navbar">
    <div id="logo">
        <a th:href="@{forside}" href="madspild.html">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="Her er vores logo" style="width:100px; height: 37px;">
        </a>
    </div>

    <ul>
        <li><a th:href="@{info}" href="info.html">Info</a></li>
        <li><a th:href="@{tips}" href="tips.html">Tips</a></li>
        <li><a th:href="@{statistik}" href="statistik.html">Statistik</a></li>
    </ul>

    <div id="search">
        <input type="text" placeholder="Søg..">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
            <button class="buttonedit">Søg</button>
        </a>
    </div>
</div>

<div class="frontpic">
   <div class="textforpic">
    <h1>
        Danmark Mod Madspild
    </h1>
   </div>
</div>

</body>
<footer>
    <div class="address">
        <address>
            TomAto TomARto<br>
            Guldbergsgade 1000000N<br>
            København N<br>
            Danmark
        </address>
    </div>
</footer>
</html>